<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-clapperboard"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item ">
          <a class="nav-link" href="#"><%= link_to "My list",lists_path, class:"text-decoration-none" %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New List + </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="bg-dark text-secondary px-4 py-5 text-left">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white"><%= @list.name.capitalize %> Movies</h1>
  </div>
</div>

<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col">
        <div class="card shadow-sm rounded-3 p-4">
          <div><%=movie.poster_url %></div>
          <div class="card-body ">
          <h2 class="pt-5 mt-5 mb-4 lh-1 fw-bold">
            <%= movie.title%>
          </h2>
            <p class="card-text"><%= movie.overview %></p>
            <div class="d-flex justify-content-between align-items-bottom mt-5">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              </div>
              <small class="text-muted"> <i class="fa-solid fa-star me-2 "></i><%= movie.rating %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
